.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
}

.card-text {
    font-size: large;
}
.accordion{
    background-color: blueviolet;
}
.fahrten{
    background-color: aqua;
    height: auto;
}
.card {
    width: 100%;
    margin-bottom: 15px;
    /* Platz zwischen den Karten */
    max-height: calc(100vh - 150px); /* Maximale Höhe der Karte festlegen */
    overflow: auto; /* Scrollbalken hinzufügen, wenn der Inhalt zu groß ist */
}



.card-body.details {
    text-align: left;
    /* Zentriert den Inhalt horizontal */
    background-color: #e10d0d; /* Hintergrundfarbe des Dropdown-Menüs */

    height: min-content; /* Maximale Höhe der Karteninhalt, abzüglich des Summen der Höhen der Überschriften */
    overflow-y: auto; /* Vertikalen Scrollbalken für den Karteninhalt hinzufügen */

}

.card-body {
    text-align: left;
    /* Zentriert den Inhalt horizontal */
    max-height: calc(100% - 40px); /* Maximale Höhe der Karteninhalt, abzüglich des Summen der Höhen der Überschriften */
}

.col-md {
    flex: 0 0 auto;
    width: 20%;
    /* Ändern Sie die Breite entsprechend Ihren Anforderungen */
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

/* Stil für Dropdown-Menüs */
details {
    margin-bottom: 10px; /* Abstand zwischen den Dropdown-Menüs */
}
